@import '../../../variables.scss';

.ma-button-app {
  // border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & button {
    // border: 1px solid blue;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    color: $theme-color-1-0;
    border: solid $theme-color-1-0 1px;
    border-radius: 10px;
    &.ma-border-1-0 {
      border-color: $theme-color-2-0;
    }
    & > svg {
      color: $theme-color-2-0;
    }
    &:hover {
      cursor: pointer;
      -ms-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  & label {
    // border: 1px solid green;
    display: block;
    font-size: 0.75rem;
    text-align: center;
    color: $theme-color-2-0;
  }
}
