@import '../../variables.scss';

$bb:1px;

div.ma-section-header {
  // border: 1px solid orange;
  height: calc($section-title-height - $bb);
  width: 100%;
  background-color: $theme-color-background-0;
  z-index: 1;

  position: fixed;
  top: $header-height;
  text-align: center;
  text-transform: capitalize;
  border-bottom: $bb solid $theme-color-background-1;
  p {
    color: $theme-color-1-0;
    font-size: 2rem;
  }
}
