@import '../../../variables.scss';

div.ma-transactions-table-row {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-transform: lowercase;
  margin-bottom: .75rem;
  opacity: $opacity-75;

  & div {
    & .ma-table-category {
      padding-left: .75rem;
      font-size: 0.8rem;
      color: $theme-color-3-0;
    }
    & .ma-table-name {
      // border: 1px solid green;
      padding-left: 1.5rem;
    }
    & .ma-table-amount {
      // border: 1px solid orange;
      padding-inline: .5em;
      &.deposit {
        color: $theme-color-green-0;
      }
      &.withdrawal {
        color: $theme-color-red-0;
      }
    }
  }
}
