@import '../../variables.scss';

$mt: 1vh;

div.ma-tx-search-filter {
  // border: 1px solid red;
  position: fixed;
  top: calc($header-height + $section-title-height);

  width: 100%;
  height: $search-filter-height;
  background-color: $theme-color-background-1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  & div.ma-search-filter-header {
    & p.ma-filter-error {
      color: $theme-color-red-0;
      margin-left: 1rem;
    }
  }
  & form {
    // border: 1px solid orange;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      margin-inline: 2rem;
    }

    & div {
      // border: 1px solid yellow;
      & input {
        background-color: $theme-color-background-0;
        color: $theme-color-2-0;
        border: none;
        transform: scale(1.3);
      }
    }
  }
}
