@import '../../variables.scss';

$mt:1vh;

div.ma-tx-search-filter {
  // border: 1px solid red;

  margin-top: $mt;
  position: fixed;
  top: calc($header-height + $section-title-height);
  width: 100%;
  height: calc($search-filter-height - $mt);
  background-color: $theme-color-background-0;
  z-index: 1;

  & div.ma-search-filter-header {
    display: flex;
    & p.ma-filter-error {
      color: $theme-color-red-0;
      margin-left: 1rem;
    }
  }
  & form {
    // border: 1px solid orange;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & div {
      // border: 1px solid yellow;
      & label {
        margin-right: .25rem;
      }
      & input {
        background-color: $theme-color-background-1;
        color: $theme-color-2-0;
      }
    }
  }
}
