@import '../../variables.scss';

$mt: 1vh;

div.ma-tx-search-filter {
  // border: 1px solid red;

  width: 100%;
  height: $tx-search-filter-height;
  background-color: $theme-color-background-1;
  border-top: 1px solid $theme-color-1-0;
  backdrop-filter: blur(5px);

  position: fixed;
  top: $header-height;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  & div.ma-search-filter-header {
    & p.ma-filter-error {
      color: $theme-color-red-0;
      margin-left: 1rem;
    }
  }
  & form {
    // border: 1px solid orange;

    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      margin-inline: 2rem;
      color: $theme-color-3-0;
    }

    & div {
      & input {
        // border: 1px solid yellow;å

        border: none;
        background-color: transparent;

        color: $theme-color-2-0;
        transform: scale(1.3);

        &::-webkit-datetime-edit-year-field {
          color: $theme-color-orange-025;
        }
        &::-webkit-datetime-edit-text {
          color: $theme-color-orange-025;
          padding: 0 0.3em;
        }
        &::-webkit-calendar-picker-indicator {
          // background: transparent;
          // margin-right: -1rem;
        }
      }
    }
  }
}
