@import './variables.scss';

button {
  text-transform: lowercase;
}
/* Base */
html,
body,
div#root,
footer {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  // overflow: hidden;
  letter-spacing: 0.01rem;
}

html {
  // border: 1px solid red;
  font-size: 16px;
  color: $theme-color-1-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 650px;
  margin: 0 auto;
  body {
    // border: 1px solid orange;
    margin: 1rem 0.25rem;
    font-size: 1rem;
    background: $theme-color-background-0;

    opacity: 1;
    transition: opacity 5s ease-out; /* It slowly shows the element as we place the mouse on the box and when the time reaches 2 seconds, it is fully visible. */
    -webkit-transition: opacity 5s ease-out;
    -moz-transition: opacity 5s ease-in-out;
  }
  & div#root {
    // border: 1px solid yellow;
    main {
      // border: 1px solid green;
      // border: 1px solid $theme-color-1-0;
      height: $body-height;
      overflow: scroll;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
