@import './variables.scss';

/* Base */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 16px;
  color: $theme-color-1-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  body {
    max-width: 650px;
    margin: 1rem;

    font-size: 1rem;
    background: $theme-color-0-0;
  }
  & div#root main {
    // border: 1px solid $theme-color-1-0;
    height: $body-height;
    overflow: scroll;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
