$theme-color-background-0: #0e1013;
$theme-color-background-1: #35383d;
$theme-color-1-0: rgba(128, 128, 128, 0.669);
$theme-color-2-0: #61dcfb8c;
$border-radius-0: .5rem; 

$header-height: 7vh;
$footer-height: 12vh;
$body-height: calc((100vh - ($header-height + $footer-height)) - 2rem);
