$theme-color-background-0: #0e1013;
$theme-color-background-1: #35383d;

$theme-color-1-0: rgba(128, 128, 128, 1);
$theme-color-2-0: rgba(247, 147, 26, .75);;
$theme-color-3-0: #61dcfbb0;

$theme-color-red-0: rgba(255, 0, 0, 0.5);
$theme-color-green-0:  rgba(172, 255, 47, 0.5);
$theme-color-green-1:  rgba(172, 255, 47, 0.25);
$theme-color-orange-0:  rgba(242, 169, 0, 0.5);
$border-radius-0: .5rem; 

$device-padding: 0.5rem;
$opacity-75: 1;
$opacity-50: 0.50;

$header-height: 10vh;
$section-title-height: 5vh;
$spending-categories-height: 25vh;
$search-filter-height: 9vh;
$footer-height: 11vh;
$body-height: calc((100vh - ($header-height + $footer-height)) - 2rem);
