$theme-color-0-0: #282c34;
$theme-color-1-0: grey;
$theme-color-2-0: #61dbfb;
$border-radius-0: .5rem; 

$header-height: 7vh;
$footer-height: 12vh;
$body-height: calc(100vh - ($header-height + $footer-height));
