@import '../../variables.scss';

div.ma-tx-table {
  // border: 1px solid red;
  width: inherit;
  height: 100%;

  overflow-y: scroll;
  vertical-align: text-top;

  &::-webkit-scrollbar {
    display: none;
  }

  & div.ma-table-row-date {
    // border: 1px solid orange;
    color: $theme-color-orange-0;
    opacity: $opacity-75;
    letter-spacing: 0.1rem;
  }
}
