AWS_API_GW_DEV=

AUTH_TOKEN=

# Your Plaid keys, which can be found in the Plaid Dashboard.
# https://dashboard.plaid.com/account/keys
PLAID_CLIENT_ID=
PLAID_SECRET_DEVELOPMENT=
PLAID_SECRET_SANDBOX=

# PLAID_ENV=development
PLAID_ENV=sandbox

USER_TABLE_NAME=
TRANSACTION_TABLE_NAME=

COGNITO_USER_POOL_ID=
USER_EMAIL=
USER_ID=