@import '../../variables.scss';

div.ma-account-card {
  // border: 1px solid red;
  border: 1px solid $theme-color-1-0;
  border-bottom: none;
  border-radius: $border-radius-0;
  margin: 0.5rem;
  z-index: 1;

  div.ma-transactions-table {
    // border: 1px solid orange;
    height: $account-tx-list-height;
  }
  & div.ma-account-header {
    
    padding-inline: $account-header-padding;
    height: $account-header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $theme-color-1-0;
    
    &.ma-account-not-focused {
      background-color: $theme-color-background-1;
      border-radius: $border-radius-0;
    }

    & div.ma-account-details {
      // border: 1px solid green;
      display: flex;
    }
  }
}

div.ma-box-name {
  margin-right: 1rem;
  width: 4rem;
}

div.ma-box-value {
  // border: 1px solid cyan;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $theme-color-green-0;

  & p:first-child {
    // color: $theme-color-green-1;
    transform: scale(0.7);
    line-height: 12px;
  }

  & p:last-child {
    // border: 1px solid cyan;
    width: 4.2rem;
    text-align: end;
  }
}
