@import '../../variables.scss';

div.ma-account-card {
  // border: 1px solid red;
  border: 1px solid $theme-color-1-0;
  border-radius: $border-radius-0;
  margin: 0.5rem;
  z-index: 1;

  & div.ma-account-header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;

    & div.ma-account-details {
      // border: 1px solid green;
      display: flex;
    }
  }
  &:hover {
    border: 1px solid $theme-color-3-0;
  }
}

div.ma-box-name {
  margin-right: 1rem;
  width: 4rem;
}

div.ma-box-value {
  // border: 1px solid cyan;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $theme-color-green-0;

  & p:first-child {
    // color: $theme-color-green-1;
    transform: scale(0.7);
    line-height: 12px;
  }

  & p:last-child {
    // border: 1px solid cyan;
    width: 4.2rem;
    text-align: end;
  }
}
