@import '../../variables.scss';

div.ma-account-card {
  // border: 1px solid red;
  border: 1px solid $theme-color-1-0;
  border-radius: $border-radius-0;
  margin: 0.5rem;
  & div.ma-account-header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    & div.ma-account-details {
      // border: 1px solid green;
      display: flex;

      & > h3 {
        // border: 1px solid yellow;
      }
      & > p.ma-account-subtype {
        // border: 1px solid blue;
        width: 7rem;
        margin-inline: 1rem;
        &::before {
          content: '[ ';
        }
        &::after {
          content: ' ]';
        }
      }
      & > p.ma-account-balance {
        &::before {
          content: ': ';
        }
      }
    }
  }
  &:hover {
    border: 1px solid $theme-color-2-0;
  }
  & div.ma-account-footer {
    // border: 1px solid cyan;
  }
}

div.ma-box-name {
  // border: 1px solid cyan;
  margin-right: 1rem;
  width: 4rem;
}
div.ma-box-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & p:first-child {
    color: $theme-color-background-1;
  }
  & p:last-child {
    // border: 1px solid cyan;
    width: 4.2rem;
    text-align: end;
  }
}
