@import '../../variables.scss';

footer {
  // border: 1px solid greenyellow;

  width: 100%;
  height: $footer-height;
  background-color: $theme-color-background-1;
  backdrop-filter: blur(5px);

  position: fixed;
  bottom: 0;

  // app buttons
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > div {
      padding: 1rem;
    }
    
    & > .sections {
      // border: 1px solid purple;
      width: 82%;
      height: 100%;
      overflow: visible;
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      overflow-x: scroll;
      gap: 1rem;
    }
    & > .sign-out {
      // border: 1px solid orange;
    }
  }
}
