footer {
  // border: 1px solid greenyellow;
  border-top: 1px solid grey;
  height: 12vh;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > div {
      padding: 1em;
    }
    & > .sections {
      // border: 1px solid purple;
      width: 82%;
      height: 100%;
      // padding-right: 1em;
      overflow:visible;
      display: inline-flex;
      flex-direction: row-reverse;
      align-items: center;
      overflow-x: scroll;
      gap: 1em;
    }
    & > .sign-out {
      // border: 1px solid orange;
    }
  }
}
