header {
//   border: 1px solid red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

// .ma-header-left {
// }

.ma-header-right {
  & > h1 {
    position: absolute;
    bottom: -.1em;
    right: 0em;
    margin: 0 0 0 0;
    font-size: 24px;
  }
}
