@import '../../variables.scss';

div.ma-user-card {
  // border: 1px solid purple;
  min-width: 100%;
  position: relative;

  &  > div > img {
    position: absolute;
    top: .7rem;
    left: .8rem;
    height: 50px;
    width: 50px;
  }

  & ul {
    // border: 1px solid yellow;
    opacity: .5;
    margin: 0 0 0 0;
    height: $header-height;
    padding: 0;

    & li {
      display: flex;
      align-items: center;
      line-height: 1.3rem;
      letter-spacing: .01rem;

      & h3 {
        // border: 1px solid cyan;
        line-height: inherit;
        text-align: end;
        width: 5.5rem;
        margin: 0;

        font-weight: bold;
        font-size: .75rem;
        &::after {
          content: ' : ';
        }
      }

      & p {
        // border: 1px solid cyan;
        margin: 0 0 0 0.5rem;
        line-height: inherit;
        color: $theme-color-2-0;
      }
    }
  }
}
