div.ma-user-card {
  // border: 1px solid red;
  position: relative;
  &  > div > img {
    position: absolute;
    top: .7em;
    left: .8em;
    height: 50px;
    width: 50px;
  }
  & ul {
    // border: 1px solid yellow;
    margin: 0 0 0 0;
    padding: 0;
    height: 100%;
    & li {
      display: flex;
      align-items: center;
      line-height: 1.175em;
      & h3 {
        // border: 1px solid cyan;
        line-height: inherit;
        text-align: end;
        width: 7em;
        margin: 0;

        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.2rem;
        &::after {
          content: ' : ';
        }
      }
      & p {
        // border: 1px solid cyan;
        margin: 0 0 0 0.5em;
        line-height: inherit;
      }
    }
  }
}
