@import '../../variables.scss';

div.ma-transactions-table {
  font-size: 0.75rem;
  width: 100%;
  overflow-y: scroll;
  height: $body-height;
  vertical-align: text-top;
  font-size: inherit;


  &::-webkit-scrollbar {
    display: none;
  }

  & div.ma-table-row-date {
    // border: 1px solid yellow;
    opacity: $opacity-75;
    letter-spacing: 0.1rem;
    & p {
      border-top: 1px solid $theme-color-1-0;
      // color: $theme-color-2-0;
    }
  }
}

div#root main > div.ma-transactions-table {
  position: fixed;
  top: calc($header-height + $section-title-height + $search-filter-height);
}
