@import '../../variables.scss';

$image-height: calc(148px - (0.5em * 2));

div.ma-item-card {
  // border: 1px solid $theme-color-1-0;
  // border: 1px solid red;
  border-radius: $border-radius-0;
  font-size: 1rem;
}

div.ma-item-card-body {
  // border: 1px solid orange;

  min-height: 100%;
  display: flex;
  padding: $device-padding;

  & a.ma-item-logo img {
    opacity: $opacity-75;
    height: $image-height;
    min-height: $image-height;
    min-width: $image-height;
  }
}

div.ma-item-card-details {
  // border: 1px solid yellow;

  min-height: $image-height;
  min-width: calc(100% - $image-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  & > button {
    width: 100%;
  }
}
