@import '../../variables.scss';

div.ma-item-card {
  display: flex;
  & img {
    border: 1px solid red;
  }
  & > ul {
    border: 1px solid purple;
    margin: 0 0 0 0;
    padding: 0;
    height: 100%;
    & > li {
      border: 1px solid green;
      display: flex;
      align-items: center;
      line-height: 1.175em;
      & h3 {
        // border: 1px solid cyan;
        line-height: inherit;
        text-align: end;
        width: 7em;
        margin: 0;

        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.2rem;
        &::after {
          content: ' : ';
        }
      }
      & p {
        // border: 1px solid cyan;
        margin: 0 0 0 0.5em;
        line-height: inherit;
        color: $theme-color-1-0;
      }
    }
  }
}
