@import '../../variables.scss';

main#ma-plaid-items-page {
  // border: 1px solid red;

  width: 100%;
  height: $tx-timeline-height;
  padding-top: $tx-search-filter-height;
  padding-bottom: $footer-height;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: calc($header-height + $section-title-height);

  & div.add-item {
    margin-block: 1rem;
    width: 100%;
    & button {
      // border: 1px solid blue;
      width: 100%;
    }
  }
}
