@import '../../variables.scss';
main#ma-tx-table {
  border: 1px solid red;
  position: fixed;
  top: $header-height;

  width: inherit;
  max-width: inherit;
  height: $tx-timeline-height;
  
  & > div.ma-tx-table {
    border: 1px solid orange;
    width: inherit;
    max-width: inherit;
    height: inherit;
    
    padding-top: $tx-search-filter-height;
    padding-bottom: $footer-height;
  }
}
